
@{
    ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_MainLayout-Special.cshtml";
}

<div class="container-fluid">
	<h3 class="page-title">Welcome to Specialised Medical Procedures</h3>
	<div class="row d-flex w-100">
		
		<div>
			<section class="products">
				@* <h2>Sub System</h2> *@
				<div class="all-products">
					<div class="product">
						<img src="~/specialised/patient.png" />
						<div class="product-info">
							<a asp-controller="Specialised" asp-action="EvalIndex">Patient Evaluation</a>
						</div>
					</div>
					<div class="product">
						<img src="~/specialised/7477305_3618271.jpg" />
						<div class="product-info">
							<a asp-controller="Specialised" asp-action="ProcedureIndex">Procedure</a>
						</div>
					</div>
					<div class="product">
						<img src="~/specialised/pngtree.png" />
						<div class="product-info">
							<a asp-controller="Specialised" asp-action="TreatmentIndex">Treatment Plan</a>
						</div>
					</div>
					<div class="product">
						<img src="~/specialised/5268552.jpg" />
						<div class="product-info">
							<a asp-controller="Specialised" asp-action="ProgressIndex">Patient Pogress</a>
						</div>
					</div>
					<div class="product">
						<img src="~/specialised/blood-test.png" />
						<div class="product-info">
							<a asp-controller="Specialised" asp-action="LabIndex">Lab Tests</a>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>

<link href="~/specialised/style.css" rel="stylesheet" />
<link href="~/specialised/style - copy.css" rel="stylesheet" />
<script src="~/specialised/one.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>