@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutFamily.cshtml";
}
<div class="mt-4 p-5 bg-primary text-white rounded">
  <h1>Family Planning</h1>
    <p>Family planning allows people to attain their desired number of children, if any, and to determine the spacing of their pregnancies. It is achieved through use of contraceptive methods and the treatment of infertility.</p>
</div>
<div class="row row-cols-1 row-cols-md-2 g-2">
    <div class="col">
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/css/FamilyPlanning.jfif" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">methods of contraception:</h5>
                <p class="card-text">
                    long-acting reversible contraception - the implant or intra uterine device (IUD)
                    hormonal contraception - the pill or the Depo Provera injection.
                    barrier methods - condoms.
                    emergency contraception.
                    fertility awareness.
                    permanent contraception - vasectomy and tubal ligation.
                </p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
    </div>
</div>
    </div>
    <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/css/FamilyPlanning2.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">How long does family planning take in the body?</h5>
                        <p class="card-text">
                            -The time it takes for birth control to start working depends on the method. 
                            -Barrier methods, such as condoms, are effective at once, while a vasectomy can take 3 months or longer. 
                            -Barrier methods, such as condoms, work immediately when used correctly,
                            while birth control pills may take several days to start working.
                        </p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
